{% include h1.html title=include.title lead=include.lead %}

<section class="section">
  <div class="container">
    {{ include.guide | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    {{ include.reference | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    {{ include.plan | markdownify }}

    <ol class="list--medium--column">
      {% for plan in include.plans %}
        {% if plan.description.size > 1 %}
          {% include plan.html
            title=plan.title
            description=plan.description
            url=plan.url
            thumbnail=plan.thumbnail
          %}
        {% endif %}
      {% endfor %}
    </ol>

    {{ include.community | markdownify }}
  </div>
</section>
