{% include h1.html title=include.title lead=include.lead %}

<section class="section">
  <div class="container">
    {{ include.guide | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    {{ include.reference | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    {{ include.contribution | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    {{ include.plan | markdownify }}

    {{ include.community | markdownify }}
  </div>
</section>
