---
title: Vivliostyle サンプル
layout: default
lang: ja
---

{% include site-header.html %}

<style>
.content {
  width: auto;
}
.samples ul {
  list-style-type: none;
  margin: 0;
}
.samples > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.samples > ul > li {
  display: inline-block;
  vertical-align: top;
  min-width: 15rem;
  max-width: 25rem;
  flex-grow: 1;
  flex-basis: 20rem;
  flex-shrink: 1;
  margin: 1rem 0.5rem;
}
.samples > ul > li > div:first-child {
  display: flex;
}
.samples > ul > li > small {
  display: block;
  line-height: 1.5;
  margin-top: 0.5em;
}
.samples h3 {
  border-bottom: 4px solid #DDD;
  margin-bottom: 0;
}
.samples h4 {
  font-size: 1.3em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}
.samples h5 {
  font-size: 1em;
  line-height: 1.3;
  margin: 0;
}
.samples .features {
  line-height: 1.3;
  margin: 0;
  color: #AAA;
}
.samples .linkList-horizontal {
  margin: 0;
  padding: 0;
}
.samples .linkList-horizontal > li {
  display: inline-block;
  margin: 0 1em;
  padding: 0;
}
</style>

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    <section>
      <section class="samples">
        <h3>技術書</h3>
        <ul>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html&renderAllPages=true">
              <img src="../../samples/images/vug-vol1.png">
            </a>
            <h4>『Vivliostyle で本を作ろう Vol. 1』</h4> 
            <div class=features>目次、ページヘッダー、脚注、印刷用のトンボと塗り足し</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html&renderAllPages=true">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html&renderAllPages=true&userStyle=data:,/*<viewer>*/%0A/*</viewer>*/%0A@page%7Bmarks:crop%20cross;bleed:3mm%7D">For Print (トンボ付き)</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/ja/vivliostyle-user-group-vol1">Source</a>
              </li>
            </ul>
            <small>関連記事: <a href="https://vivliostyle.org/ja/blog/2019/04/13/appearance-of-user-group-in-tbf06">技術書典6にVivliostyleユーザー会が出展します！</a></small>
          </li>
        </ul>
      </section>
      <section class="samples">
        <h3>小説</h3>
        <ul>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gutenberg/Alice.html">
              <img src="../../samples/images/alice.png">
            </a>
            <h4>英語小説</h4>
            <div class=features>レスポンシブ、ウェブフォント、ページカウンタ、相互参照、ページヘッダー</div>
            <h5>“Alice’s Adventures in Wonderland”</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gutenberg/Alice.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/gutenberg/Alice.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/gutenberg/">Source</a>
              </li>
            </ul>
            <h5>“The Adventures of Sherlock Holmes”</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gutenberg/Sherlock.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/gutenberg/Sherlock.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/gutenberg/">Source</a>
              </li>
            </ul>
            <h5>“White Fang”</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gutenberg/Fang.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/gutenberg/Fang.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/gutenberg/">Source</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gon/index.html">
              <img src="../../samples/images/gon.png">
            </a>
            <h4>文庫本フォーマット『ごん狐』</h4>
            <div class=features>縦書き、ルビ、ページヘッダー</div>
            <h5>固定ページサイズ</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gon/index.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/gon/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/gon">Source</a>
              </li>
            </ul>
            <h5>可変ページサイズ</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/gon/responsive.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/gon/responsive.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/gon">Source</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="samples">
        <h3>雑誌・新聞</h3>
        <ul>
          <li>
            <div>
              <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=../samples/webmag/index.html&style=../samples/webmag/css/viv-style-h.css">
                <img src="../../samples/images/webmag-h.png">
              </a>
              <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=../samples/webmag/index.html&style=../samples/webmag/css/viv-style-v.css">
                <img src="../../samples/images/webmag-v.png">
              </a>
            </div>
            <h4>Web 雑誌 “JDIR”</h4> 
            <div class=features>段組、ページテンプレート、レスポンシブ、目次、印刷用のトンボと塗り足し</div>
            <h5>横書き</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=../samples/webmag/index.html&style=../samples/webmag/css/viv-style-h.css">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=../samples/webmag/index.html&style=../samples/webmag/css/viv-print-h.css&renderAllPages=true">For Print (トンボ付き)</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/webmag">Source</a>
              </li>
            </ul>
            <h5>縦書き</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=../samples/webmag/index.html&style=../samples/webmag/css/viv-style-v.css">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#b=../samples/webmag/index.html&style=../samples/webmag/css/viv-print-v.css&renderAllPages=true">For Print</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/webmag">Source</a>
              </li>
            </ul>
            <small>(このサンプルでは、<a href="http://jbpress.ismedia.jp/feature/jdir">JDIR JBpress Digital Innovation Review</a>の記事を、株式会社日本ビジネスプレスより承諾を得て利用させていただいております。)</small>
          </li>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/adaptive-layout/apollo8/index.xhtml">
              <img src="../../samples/images/apollo.png">
            </a>
            <h4>“Apollo 8”</h4>
            <div class=features>回り込み、段組、レスポンシブ、ページテンプレート</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/adaptive-layout/apollo8/index.xhtml&amp;spread=false">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/adaptive-layout/apollo8/index.xhtml">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/adaptive-layout/apollo8">Source</a>
              </li>
            </ul>
            <small>(from Peter Sorotokin’s
              <a href="https://sorotokin.com/adaptive-layout/">Adaptive Layout</a>)</small>
          </li>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/shirouma/index.html">
              <img src="../../samples/images/shirouma.png">
            </a>
            <h4>雑誌レイアウト『白馬岳』</h4>
            <div class=features>縦書き、ルビ、段組</div>
            <h5>固定ページサイズ</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/shirouma/index.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/shirouma/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/shirouma">Source</a>
              </li>
            </ul>
            <h5>可変ページサイズ</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/shirouma/responsive.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/shirouma/responsive.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/shirouma">Source</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/news/index.html">
              <img src="../../samples/images/news.png">
            </a>
            <h4>新聞</h4>
            <div class=features>段組、ページテンプレート、レスポンシブ</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/news/index.html&amp;spread=false">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/news/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/news">Source</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="samples">
        <h3>記事</h3>
        <ul>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/scholarly/index.html">
              <img src="../../samples/images/scholarly.png">
            </a>
            <h4>学術論文 “Scholarly HTML”</h4>
            <div class=features>段組、ページテンプレート、ウェブフォント、スクロールとページ、Flexbox</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/scholarly/index.html&amp;spread=false">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/scholarly/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/scholarly">Source</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/variable-page-size/TheMalayArchipelago/main.xhtml">
              <img src="../../samples/images/malay.png">
            </a>
            <h4>英語記事 “The Malay Archipelago”</h4>
            <div class=features>段組、レスポンシブ、脚注</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="https://vivliostyle.github.io/vivliostyle.js/viewer/vivliostyle-viewer.html#x=../samples/variable-page-size/TheMalayArchipelago/main.xhtml">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle.js/samples/variable-page-size/TheMalayArchipelago/main.xhtml">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle.js/tree/gh-pages/samples/variable-page-size/TheMalayArchipelago">Source</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <hr>
      <ul class="note">
        <li>
          <b>Page View</b> オンライン Vivliostyle Viewer でページ表示</li>
        <li>
          <b>Raw HTML</b> 通常HTML表示</li>
        <li>
          <b>Source</b> GitHub上のソースファイル（HTMLやCSS）へ</li>
      </ul>
    </section>

    <br>
    {% include nav-share.html %}

  </article>

</main>

{% include site-footer.html %}
