<script>
  async function fetchGuideUrl(id, base_url, get_url) {
    try {
      const element = document.getElementById(id);
      const headings = await fetchHeadings(get_url);

      headings.forEach(function(name) {
        element.insertAdjacentHTML("beforeend", listTemplate(name, base_url));
      });
    } catch(error) {
      console.log(error);
    }
  }

  function listTemplate(name, base_url) {
    const anchor = name.toLowerCase().replace(/\s/g, "-");

    return `
      <li>
        <a href="${base_url}#${anchor}">
          ${name}
        </a>
      </li>
      `;
  }

  async function fetchHeadings(url) {
    // markdownを取得
    const json = await fetchContent(url);
    const markdown = decodeURIComponent(escape(atob(json.content)));

    // h2を取得
    const headings = markdown.replace(/```.+?```/gs, "").match(/\n##\s*[^#\n]+\n/g).map(function(str) {
      return str.match(/\n##\s*([^#\n]+)\n/)[1];
    });
    return headings;
  }

  function fetchContent(url) {
    return fetch(url)
      .then(function(response) {
        if(!response.ok) {
          return Promise.reject(response);
        } else {
          return response.json();
        }
      })
  }
</script>
