{% include assign/lang.html %}
{% assign global_header = site.data.global_header[lang.code] %}

<header class="global-header">
  <div class="global-header__brand">
    <a href="{{ lang.url | relative_url }}">
      <img class="global-header__logo" src="{{ site.logo | relative_url }}" alt="{{ site.title | append: ' logo' }}"/>
    </a>
  </div>

  <nav class="global-header__nav">
    <ol class="nav__list">
      <li class="nav__item--menu">
        <div tabindex="0" class="nav__link--menu" id="main-button">
          <i class="fas fa-list-ul item__icon"></i>
          <span class="nav__label">MENU</span>
          <i class="fas fa-chevron-down item__icon"></i>
        </div>

        <ol class="nav__dropdown--menu" id="main-menu">
          {% for item in global_header %}
            {% if item.url contains '://' %}
              {% assign url = item.url %}
            {% else %}
              {% assign url = item.url | relative_url %}
            {% endif %}

            {% if item.url == page.url %}
              {% assign active = "--active" %}
            {% else %}
              {% assign active = "" %}
            {% endif %}

            <li class="nav__item{{ active }}">
              <a class="nav__link" href="{{ url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ol>
      </li>

      <!-- 検索 -->
      <li class="nav__item--search">
        <div tabindex="0" class="nav__link" id="search-button" title="Search">
          <i class="fas fa-search item__icon"></i>
        </div>
        {% include site-search.html %}
      </li>

      <!-- 言語切り替え -->
      <li class="nav__item">
        <div tabindex="0" class="nav__link" id="lang-button" title="Language">
          <i class="fas fa-globe-americas item__icon"></i>
          <i class="fas fa-chevron-down item__icon"></i>
        </div>

        <ul class="nav__dropdown" id="lang-menu">
          {% for otherlang in site.data.language %}
            {% assign url = page.url | remove_first: lang.url %}

            {% if lang.name == otherlang[1].name %}
              {% assign icon = "check" %}
            {% else %}
              {% assign icon = "blank" %}
            {% endif %}

            <li class="nav__item">
              <a class="nav__link" href="{{ otherlang[1].url | append: url | relative_url }}">
                <i class="fas {{ icon }} item__icon"></i>
                <span class="nav__label">{{ otherlang[1].name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>

      <!-- GitHubへのリンク -->
      <li class="nav__item">
        <a class="nav__link" href="{{ site.data.account.github.url }}" title="GitHub">
          <i class="fab fa-github item__icon"></i>
        </a>
      </li>
    </ol>
  </nav>
</header>

{% include keyboard-operation.html %}

{% if page.jumbotron_image %}
  {% include jumbotron.html %}
{% endif %}
