{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% if page.lang == "ja" %}
      <li class="item  item--nav"><a href="/">English</a></li>
    {% else %}
      <li class="item  item--nav"><a href="/ja/">日本語</a></li>
    {% endif %}
    {% for item in site.navigation_header %}

      {%if page.lang == "ja" and item.url_ja %}
      {% assign item_url = item.url_ja %}
      {% else %}
      {% assign item_url = item.url %}
      {% endif %}
      {% if item_url contains '://' %}
      {% assign url = item_url %}
      {% else %}
      {% assign url = item_url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item_url == page.url %}  item--current{% endif %}">
	{%if page.lang == "ja" %}
        <a href="{{ url }}">{{ item.ja }}</a>
	{% else %}
        <a href="{{ url }}">{{ item.en }}</a>
	{% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

