<small class="small  post-meta">
	{% include date.html date=page.date -%}
	{%- if page.author %}
	<div class="by-line">
	{%- if page.lang == "ja" -%}
		投稿者:
	{%- else -%}
		By:
	{%- endif %}
  	<ul>
	{%- for a in page.author %}
		<li><a {% if site.data.people[a].email %}href="mailto:{{ site.data.people[a].email }}"{% endif %}>
		{%- if page.lang == "ja" -%}
			{{- site.data.people[a].ja -}}
		{%- else -%}
			{{- site.data.people[a].en -}}
		{%- endif -%}
		</a>
		{%- if page.lang == "ja" -%}
			（{{ site.data.people[a].role_ja }}）
		{%- else -%}
			&#x20;({{ site.data.people[a].role_en }})
		{%- endif -%}
		</li>
	{%- endfor %}
	</ul>
	</div>
	{%- endif %}
</small>
