<ol class="list--medium list--whatsnew">
  {% for post in include.posts %}
    <li class="frame--small frame--whatsnew">
      <div class="frame--whatsnew__inner">
        {% if post.date %}
          {% include post-header.html date=post.date %}
        {% else %}
          {% include post-header.html date=include.feature %}
        {% endif %}

        <a href="{{ site.baseurl }}{{ post.url }}" class="frame__link">
          <div class="post__text">
            <h3>{{ post.title }}</h3>
          </div>

          {% if post.image %}
            <img src="{{ post.image }}" class="thumbnail">
          {% endif %}
        </a>
      </div>
    </li>
  {% endfor %}
</ol>
