<ol class="project__list">
  <li class="project__item">
    <img src="{{ include.project1_src }}" alt="" class="project__img">
    <div>
      <a href="{{ include.project1_link }}" class="project__link">{{ include.project1_name }}</a>
    </div>
  </li>
  <li class="project__item">
    <ol class="project__innerlist">
      <li>
        <img src="{{ include.project2_src }}" alt="" class="project__img">
        <div>
          <a href="{{ include.project2_link }}" class="project__link">{{ include.project2_name }}</a>
          <p class="project__description">{{ include.project2_description }}</p>
        </div>
      </li>
      <li>
        <img src="{{ include.project3_src }}" alt="" class="project__img">
        <div>
          <a href="{{ include.project3_link }}" class="project__link">{{ include.project3_name }}</a>
          <p class="project__description">{{ include.project3_description }}</p>
        </div>
      </li>
      <li>
        <img src="{{ include.project4_src }}" alt="" class="project__img">
        <div>
          <a href="{{ include.project4_link }}" class="project__link">{{ include.project4_name }}</a>
          <p class="project__description">{{ include.project4_description }}</p>
        </div>
      </li>
    </ol>
  </li>
</ol>
