<div class="global-header__searchresult" id="result-area">
  <header class="searchresult__header">
    <!-- 検索フォーム -->
    <form action="">
      <div class="global-header__searchfield">
        <div class="global-header__searchicon">
          <i class="fas fa-magnify"></i>
        </div>
        <input class="global-header__input" id="search-form" type="text" name="search" placeholder="Search" autocomplete="off" />
      </div>
    </form>

    <!-- ×ボタン -->
    <button id="close-icon" class="searchresult__closeicon" title="Close">
      <i class="fas fa-times"></i>
    </button>
  </header>

  <!-- 検索結果 -->
  <div class="container">
    <ul class="list--medium--column" id="result-list"></ul>
  </div>
</div>

<script type="text/javascript" src="{{ "/assets/scripts/fetch.js" | relative_url }}"></script>
<script type="text/javascript">
  const endpoint = '{{ "/assets/search.json" | relative_url }}';

  const pages = [];

  fetch(endpoint)
    .then(blob => blob.json())
    .then(data => pages.push(...data))

  function findResults(termToMatch, pages) {
    return pages.filter(item => {
      const regex = new RegExp(termToMatch, 'gi');
      return item.title.match(regex) || item.content.match(regex);
    });
  }

  function displayResults(word) {
    const resultsArray = findResults(word, pages);
    const html = resultsArray.map(item => {
      return `
                <li class="frame--small">
                  <a href="${item.url}" class="frame__link">
                    <h3>${item.title}</h3>
                    <div class="frame__contents">
                      <p>${item.excerpt.slice(0,140)}</p>
                    </div>
                  </a>
                </li>`;
    }).join('');

    if(word == '') {
      resultsList.innerHTML = "";
    } else if (resultsArray.length == 0) {
      resultsList.innerHTML = `<p>Sorry, nothing was found</p>`;
    } else {
      resultsList.innerHTML = html;
    }
  }

  function openResultArea(button, menu) {
    button.tabIndex = "-1";
    menu.classList.add('open');
  }

  function closeResultArea(button, menu) {
    button.tabIndex = "0";
    menu.classList.remove('open');
    field.value = "";
    field.blur();
    resultsList.innerHTML = "";
  }


  const searchButton = document.querySelector('#search-button');
  const field = document.querySelector('#search-form');
  const resultsList = document.querySelector('#result-list');
  const closeIcon = document.querySelector('#close-icon');
  const resultArea = document.querySelector('#result-area');

  searchButton.addEventListener('focus', function(event) {
    openResultArea(searchButton, resultArea);
    field.focus();
  });

  searchButton.addEventListener('mouseenter', function(event) {
    openResultArea(searchButton, resultArea);
    field.focus();
  });

  searchButton.addEventListener('mouseleave', function(event) {
    if(field.value == "") {
      closeResultArea(searchButton, resultArea);
    }
  });

  resultArea.addEventListener("focusout", function(event) {
    if(!resultArea.contains(event.relatedTarget) && field.value == "") {
      closeResultArea(searchButton, resultArea);
    }
  });

  resultArea.addEventListener("mouseover", function(event) {
    openResultArea(searchButton, resultArea);
  });

  resultArea.addEventListener("mouseleave", function(event) {
    if(field.value == "") {
      closeResultArea(searchButton, resultArea);
    }
  });

  // 検索ボックスで入力すると検索結果を出す
  field.addEventListener('keyup', function(event) {
    displayResults(field.value);
    const itemList = resultsList.querySelectorAll("a");
    itemList.forEach(function(item, i) {
      item.addEventListener("keydown", function(event) {
        // 上矢印
        if(event.keyCode == 38 && i != 0) {
          event.preventDefault();
          itemList[i-1].focus();
        }

        // 下矢印
        if(event.keyCode == 40 && i != itemList.length-1) {
          event.preventDefault();
          itemList[i+1].focus();
        }
      });
    });
  });

  // 検索ボックスでEnterを押しても遷移しない
  field.addEventListener('keypress', function(event) {
    if(event.keyCode == 13) {
      event.preventDefault();
    }
  });

  // ×ボタンで検索ウィンドウを閉じる
  closeIcon.addEventListener('click', function(event) {
    closeResultArea(searchButton, resultArea);
  });

  // ×ボタンで検索ウィンドウを閉じる
  closeIcon.addEventListener('keydown', function(event) {
    if(event.keyCode == 13) {
      closeResultArea(searchButton, resultArea);
    }
  });

  // Escで検索ウィンドウを閉じる
  window.addEventListener('keydown', function(event) {
    if(event.keyCode == 27) {
      closeResultArea(searchButton, resultArea);
    }
  });
</script>
<noscript>Please enable JavaScript to use the search form.</noscript>
