<ol id="animation--flow">
  <li>
    <img src="/assets/animation1.png" alt="" class="animation__img" id="step1__img">
    <div class="animation__line">
      <div class="animation__bar--none"></div>
      <span class="animation__label" id="step1__text">WRITE</span>
      <div class="animation__bar--right" id="step1__right"></div>
    </div>
  </li>
  <li>
    <img src="/assets/animation2.png" alt="" class="animation__img" id="step2__img">
    <div class="animation__line">
      <div class="animation__bar--left" id="step2__left"></div>
      <span class="animation__label" id="step2__text">BUILD</span>
      <div class="animation__bar--right" id="step2__right"></div>
    </div>
  </li>
  <li>
    <img src="/assets/animation3.png" alt="" class="animation__img" id="step3__img">
    <div class="animation__line">
      <div class="animation__bar--left" id="step3__left"></div>
      <span class="animation__label" id="step3__text">PUBLISH</span>
      <div class="animation__bar--none"></div>
    </div>
  </li>
</ol>
