@mixin banner($background_color) {
  padding: 10px 30px;
  text-align: center;
  background-color: $background_color;

  a {
    &:link,
    &:visited {
      color: $white;
    }
  }
}

.container {
  .banner {
    list-style: none;
    @include banner($accent_color);
  }
}
