// ----------
// Breakpoint
// ----------

@mixin media_large {
  @media (max-width: $breakpoint_large) {
    @content;
  }
}

@mixin media_medium {
  @media (max-width: $breakpoint_medium) {
    @content;
  }
}

@mixin media_small {
  @media (max-width: $breakpoint_small) {
    @content;
  }
}

// ----------
// Groups
// ----------

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin lists {
  .list--small,
  .list--small--column,
  .list--medium,
  .list--medium--column,
  .list--large,
  .list--large--column {
    @content;
  }
}

@mixin buttons {
  .button--primary--small,
  .button--primary--medium,
  .button--primary--large,
  .button--secondary--small,
  .button--secondary--medium,
  .button--secondary--large,
  .button--simple--small,
  .button--simple--medium,
  .button--simple--large,
  .button--twitter--small,
  .button--twitter--medium,
  .button--twitter--large,
  .button--facebook--small,
  .button--facebook--medium,
  .button--facebook--large,
  .button--slack--small,
  .button--slack--medium,
  .button--slack--large,
  .button--github--small,
  .button--github--medium,
  .button--github--large {
    @content;
  }
}

@mixin frames {
  .frame--small,
  .frame--medium,
  .frame--large {
    @content;
  }
}

@mixin sections {
  .section,
  .section--center,
  .section--center--gray {
    @content;
  }
}

// ----------
// List
// ----------

@mixin list {
  display: flex;
  padding: 0;
  list-style: none;
}

@mixin list_row($gap, $allow_wrap: true) {
  @include list;

  flex-direction: row;

  @if $allow_wrap {
    flex-wrap: wrap;
  } @else {
    flex-wrap: nowrap;
  }

  margin-bottom: -$gap;

  > * {
    margin: 0 $gap $gap 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin list_column($gap, $allow_wrap: true) {
  @include list;

  flex-direction: column;

  @if $allow_wrap {
    flex-wrap: wrap;
  } @else {
    flex-wrap: nowrap;
    margin-bottom: unset;
  }

  > * {
    margin: 0 0 $gap 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
