.page_make_books_with_vivliostyle {
  .frame__thumbnail {
    @include thumbnail(400px, auto);
  }

  .book__toc {
    @include list_column(0px, false);
  }

  .toc__content {
    @include list_row($gap_small, false);
  }

  .toc__type {
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-family: $monospace_font;
    font-style: normal;
    text-align: center;
    background-color: $black;
    color: $white;
    line-height: 1.5;
  }

  @include media_small {
    .frame__thumbnail {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
