.global-header {
  .global-header__searchfield {
    display: flex;
    border: 1px solid $gray_light;
    border-radius: $header_height;
    background-color: $white;
  }

  .global-header__searchicon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $searchfield_height;
    height: $searchfield_height;
    padding-left: $gap_small;
    font-size: 26px;
    color: $gray_light;
  }

  .global-header__input {
    width: 300px;
    height: $searchfield_height;
    margin: 0;
    padding: $gap_small $gap_small $gap_small 0px;
    border: 0;
    outline: none;
    appearance: none;
    font-size: $body_font_size;
    background-color: transparent;
  }

  .global-header__searchresult {
    display: none;
    position: absolute;
    z-index: 10;
    top: calc(#{$searchfield_height} + #{$searchresult_triangle_size} + #{$gap_medium});
    right: 0;
    width: 50vw;
    padding: $gap_medium calc(#{$gap_medium} * 2);
    border: 1px solid $gray_lighter;
    background-color: $white;
    transition: $hover_animation;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: calc(-2 * #{$searchresult_triangle_size});
      right: 20px;
      border-bottom: $searchresult_triangle_size solid $gray_lighter;
      border-top: $searchresult_triangle_size solid transparent;
      border-left: $searchresult_triangle_size solid transparent;
      border-right: $searchresult_triangle_size solid transparent;
    }

    &:after {
      top: calc(-2 * #{$searchresult_triangle_size} + 2px);
      border-bottom: $searchresult_triangle_size solid $white;
      transform: scale(0.95);
    }
  }

  .global-header__searchresult.open {
    display: block;
  }

  .searchresult__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $gap_medium;
    font-size: $display_font_size;
    color: $gray;
  }

  .searchresult__closeicon {
    border: 0;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
  }

  @include media_medium {
    // 検索ウィンドウの幅をいっぱいにする
    .global-header__searchresult {
      width: 100%;
      top: 80px;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  @include media_small {
    // 検索ボックスの幅を調整
    .global-header__input {
      width: auto;
    }
  }
}
