---
layout: page
title: "Tutorial ⑦ Creating a Table of Contents"
lang: en
---


{% capture content %}
## Goals of This Tutorial

- Create a table of contents automatically
- Create a table of contents manually


## Automatic Table of Contents

You can use Vivliostyle's built-in feature to generate a table of contents automatically. The table of contents will display:
- The book title
- The title of the TOC page (default: "Table of Contents")
- The title of each manuscript file with a link

Add the following to `vivliostyle.config.js`:

```js
// @ts-check
import { defineConfig } from '@vivliostyle/cli';

export default defineConfig({
  // ...
  toc: {
    title: 'Table of Contents',
  },
});
```

Run the following command:

```bash
npm run preview
```

A table of contents is automatically added to the first page of the PDF. You can change `toc.title` to use any title you like for the TOC page.

![](/assets/tutorials/ja/create-table-of-contents/preview-table-of-contents1.png)


### Including Headings from Manuscript Files in the TOC

In addition to references to manuscript files, the table of contents can also include headings from within those files. To do this, set `sectionDepth` to a value from `1` to `6` (representing which heading level to include, from `h1` to `h6`). The following example includes `h1` through `h3` headings in the TOC.

```js
  toc: {
    title: 'Table of Contents',
    sectionDepth: 3,
  }
```

Reference: [Vivliostyle CLI Documentation](https://docs.vivliostyle.org/ja/cli/toc-page/)


## Manual Table of Contents

To create a table of contents file manually, follow these steps.

Open your text editor and create a file named `manuscripts/toc.md`. The value `"doc-toc"` for the `role` attribute is defined by the [Digital Publishing WAI-ARIA](https://www.w3.org/TR/dpub-aria-1.0/) specification. Vivliostyle recognizes elements with this attribute (typically `nav`) as a table of contents, treats the linked HTML files as a single book, and enables navigation in the TOC panel of the preview screen.

```html
<nav id="toc" role="doc-toc">

1. [Preface](maegaki.html)
1. [Body](honbun.html)
    1. [Source Code](honbun.html#code)
        1. [With Caption](honbun.html#code-with-caption)
    1. [Endnotes](honbun.html#footnotes)
    1. [Frontmatter](honbun.html#frontmatter)
    1. [Line Breaks](honbun.html#newline)
    1. [Images](honbun.html#figure)
        1. [With Caption](honbun.html#figure-with-caption)
    1. [Math](honbun.html#math)
    1. [HTML](honbun.html#html)
        1. [Mixing Markdown and HTML](honbun.html#html-with-markdown)
    1. [Ruby](honbun.html#ruby)
1. [Afterword](atogaki.html)

</nav>
```

When creating your own TOC file, you need to add an entry in `vivliostyle.config.js`. Specify `rel: 'contents'` for the TOC file.

```js
// @ts-check
import { defineConfig } from '@vivliostyle/cli';

export default defineConfig({
  // ...
  entry: [
    {
      path: 'toc.md',
      rel: 'contents',
    },
    'maegaki.md',
    // ...
  ],
});
```

Also add the following CSS for the table of contents.

```css
#toc li {
  list-style: none;
}

#toc li ol {
  padding-left: 1em;
}

#toc li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: currentColor;
  align-items: baseline;
}

#toc li a::before {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 1px dotted;
  content: '';
  order: 1;
  flex: auto;
}

#toc li a::after {
  text-align: right;
  content: target-counter(attr(href), page);
  align-self: flex-end;
  flex: none;
  order: 2;
}
```

![](/assets/tutorials/ja/create-table-of-contents/preview-table-of-contents2.png)

Reference: [Vivliostyle Viewer で CSS 組版ちょっと入門](https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/shinyu/index.html#%E7%9B%AE%E6%AC%A1%E3%81%AE%E4%BD%9C%E3%82%8A%E6%96%B9)


## Summary

In this tutorial you created a table of contents and defined its styles. Download the `vivliostyle.config.js`, manuscript files, and style files used in this tutorial using the buttons below.

<ol class="list--small">
  {% include button/download.html url="../../../assets/tutorials/ja/create-table-of-contents/vivliostyle.config.js" text="vivliostyle.config.js" class="button--secondary--medium" %}
  {% include button/download.html url="../../../assets/tutorials/ja/create-table-of-contents/manuscripts.zip" text="manuscripts.zip" class="button--secondary--medium" %}
  {% include button/download.html url="../../../assets/tutorials/ja/create-table-of-contents/mytheme.zip" text="mytheme.zip" class="button--secondary--medium" %}
</ol>

---

- Previous: [Tutorial ⑥ Styles for Basic Elements](/tutorials/configure-basic-elements)
- [Tutorial List](/tutorials)
{% endcapture %}


{% include page/tutorials.html
  title="Tutorial ⑦ Creating a Table of Contents"
  lead="Use Vivliostyle features to create a table of contents."

  content=content
%}
