---
title: Vivliostyle Samples
layout: default
---

{% include site-header.html %}

<style>
.content {
  width: auto;
}
.samples ul {
  list-style-type: none;
  margin: 0;
}
.samples > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.samples > ul > li {
  display: inline-block;
  vertical-align: top;
  min-width: 15rem;
  max-width: 25rem;
  flex-grow: 1;
  flex-basis: 20rem;
  flex-shrink: 1;
  margin: 1rem 0.5rem;
}
.samples > ul > li > div:first-child {
  display: flex;
}
.samples > ul > li > small {
  display: block;
  line-height: 1.5;
  margin-top: 0.5em;
}
.samples > ul > li > a:first-child {
  display: block;
}
.samples a > img {
  border: 1px solid #DDD;
}
.samples h3 {
  border-bottom: 4px solid #DDD;
  margin-bottom: 0;
}
.samples h4 {
  font-size: 1.3em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}
.samples h5 {
  font-size: 1em;
  line-height: 1.3;
  margin: 0;
}
.samples .features {
  line-height: 1.3;
  margin: 0;
  color: #AAA;
}
.samples .linkList-horizontal {
  margin: 0;
  padding: 0;
}
.samples .linkList-horizontal > li {
  display: inline-block;
  margin: 0 1em;
  padding: 0;
}
</style>

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    <section>
      <section class="samples">
        <h3>Technical Books</h3>
        <ul>
          <li>
            <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html&renderAllPages=true">
              <img src="images/vug-vol1.png">
            </a>
            <h4>Japanese book “Make Books with Vivliostyle, Vol. 1”</h4> 
            <div class=features>Table of contents, running headers, footnotes</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html&renderAllPages=true">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html&renderAllPages=true&userStyle=data:,/*<viewer>*/%0A/*</viewer/>*/%0A@page%7Bmarks:crop%20cross;bleed:3mm%7D">For Print (with crop marks)</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol1/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/ja/vivliostyle-user-group-vol1">Source</a>
              </li>
            </ul>
            <small>Related article (Japanese): <a href="/ja/blog/2019/05/06/make-books-with-vivliostyle-vol1">技術書典6に出展『Vivliostyle で本を作ろう Vol. 1』公開！</a></small>
          </li>
          <li>
            <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol2/index.html&renderAllPages=true">
              <img src="images/vug-vol2.png">
            </a>
            <h4>Japanese book “Make Books with Vivliostyle, Vol. 2”</h4> 
            <div class=features>Table of contents, running headers, footnotes</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol2/index.html&renderAllPages=true">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol2/index.html&renderAllPages=true&userStyle=data:,/*<viewer>*/%0A/*</viewer/>*/%0A@page%7Bmarks:crop%20cross;bleed:3mm%7D">For Print (with crop marks)</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/ja/vivliostyle-user-group-vol2/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/ja/vivliostyle-user-group-vol2">Source</a>
              </li>
            </ul>
            <small>Related article (Japanese): <a href="/ja/blog/2019/09/25/make-books-with-vivliostyle-vol2">技術書典7に出展『Vivliostyle で本を作ろう Vol. 2』公開！</a></small>
          </li>
        </ul>
      </section>
      <section class="samples">
        <h3>Novels</h3>
        <ul>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Alice.html">
              <img src="images/alice.png">
            </a>
            <h4>Novels from Project Gutenberg</h4>
            <div class=features>Page margin box, page counter, cross references, responsive page size, web fonts</div>
            <h5>“Alice’s Adventures in Wonderland”</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Alice.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Alice.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/gutenberg/">Source</a>
              </li>
            </ul>
            <h5>“The Adventures of Sherlock Holmes”</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Sherlock.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Sherlock.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/gutenberg/">Source</a>
              </li>
            </ul>
            <h5>“White Fang”</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Fang.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/gutenberg/Fang.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/gutenberg/">Source</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gon/index.html">
              <img src="images/gon.png">
            </a>
            <h4>Japanese novel “Gon, the Little Fox”</h4>
            <div class=features>Vertical text, ruby, page margin box, page counter</div>
            <h5>Fixed Page Size</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gon/index.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/gon/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/gon">Source</a>
              </li>
            </ul>
            <h5>Responsive Page Size</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/gon/responsive.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/gon/responsive.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/gon">Source</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="samples">
        <h3>Magazines &amp; Newspapers</h3>
        <ul>
          <li>
            <div>
              <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/index.html&style=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/css/viv-style-h.css">
                <img src="images/webmag-h.png">
              </a>
              <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/index.html&style=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/css/viv-style-v.css">
                <img src="images/webmag-v.png">
              </a>
            </div>
            <h4>Web Magazine “JDIR”</h4> 
            <div class=features>Multi-column, responsive design, page templates, table of contents, crop marks and bleed for print</div>
            <h5>Horizontal text</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/index.html&style=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/css/viv-style-h.css">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/index.html&style=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/css/viv-print-h.css&renderAllPages=true">For Print</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/webmag">Source</a>
              </li>
            </ul>
            <h5>Vertical text</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/index.html&style=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/css/viv-style-v.css">Page View</a>
              </li>
              <li class="linkList_item-pageview">
                <a href="/viewer/#b=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/index.html&style=https://vivliostyle.github.io/vivliostyle_doc/samples/webmag/css/viv-print-v.css&renderAllPages=true">For Print</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/webmag">Source</a>
              </li>
            </ul>
            <small>(In this sample, <a href="http://jbpress.ismedia.jp/feature/jdir">JDIR JBpress Digital Innovation Review</a>'s articles are used with permission from Japan Business Press Co., Ltd.)</small>
          </li>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/adaptive-layout/apollo8/index.xhtml">
              <img src="images/apollo.png">
            </a>
            <h4>“Apollo 8”</h4>
            <div class=features>Shapes, exclusions, multi-column, page templates, media queries, running headers</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/adaptive-layout/apollo8/index.xhtml&amp;spread=false">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/adaptive-layout/apollo8/index.xhtml">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/adaptive-layout/apollo8">Source</a>
              </li>
            </ul>
            <small>(from Peter Sorotokin’s
              <a href="https://sorotokin.com/adaptive-layout/">Adaptive Layout</a>)</small>
          </li>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/shirouma/index.html">
              <img src="images/shirouma.png">
            </a>
            <h4>Japanese magazine “Mt. Shirouma”</h4>
            <div class=features>Vertical text, multi-column, ruby, page margin box</div>
            <h5>Fixed Page Size</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/shirouma/index.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/shirouma/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/shirouma">Source</a>
              </li>
            </ul>
            <h5>Responsive Page Size</h5>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/shirouma/responsive.html">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/shirouma/responsive.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/shirouma">Source</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/news/index.html">
              <img src="images/news.png">
            </a>
            <h4>Newspaper</h4>
            <div class=features>Multi-column, responsive design, page templates, cross references</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/news/index.html&amp;spread=false">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/news/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/news">Source</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="samples">
        <h3>Articles</h3>
        <ul>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/scholarly/index.html">
              <img src="images/scholarly.png">
            </a>
            <h4>Academic article “Scholarly HTML”</h4>
            <div class=features>Page templates, multi-column, web fonts, scroll+pagination, Flexbox</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/scholarly/index.html&amp;spread=false">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/scholarly/index.html">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/scholarly">Source</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/variable-page-size/TheMalayArchipelago/main.xhtml">
              <img src="images/malay.png">
            </a>
            <h4>“The Malay Archipelago”</h4>
            <div class=features>Responsive, page templates, multi-column, footnotes</div>
            <ul class="linkList linkList-horizontal">
              <li class="linkList_item-pageview">
                <a href="/viewer/#x=https://vivliostyle.github.io/vivliostyle_doc/samples/variable-page-size/TheMalayArchipelago/main.xhtml">Page View</a>
              </li>
              <li class="linkList_item-rawhtml">
                <a href="https://vivliostyle.github.io/vivliostyle_doc/samples/variable-page-size/TheMalayArchipelago/main.xhtml">Raw HTML</a>
              </li>
              <li class="linkList_item-source">
                <a href="https://github.com/vivliostyle/vivliostyle_doc/tree/gh-pages/samples/variable-page-size/TheMalayArchipelago">Source</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <hr>
      <ul class="note">
        <li>
          <b>Page View</b> for paginated view with online Vivliostyle viewer.</li>
        <li>
          <b>Raw HTML</b> for normal HTML view.</li>
        <li>
          <b>Source</b> for source files, HTML/CSS etc., on GitHub.</li>
      </ul>
    </section>

    <br>
    {% include nav-share.html %}

  </article>

</main>

{% include site-footer.html %}
