<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<!-- General meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}
		{% include google-analytics.html %}

		{% seo %}

		<link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
		<meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
		<link rel="alternate" type="application/atom+xml" title="Vivliostyle.org Blog" href="/blog/feed.xml"/>
		<link rel="alternate" type="application/atom+xml" title="Vivliostyle.org ブログ" href="/ja/blog/feed.xml"/>

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.avatarurl %}{% include site-favicons.html %}{% endif %}
	</head>
	<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
		{% include site-icons.svg %}

		{{ content }}

		{% if site.serviceWorker != false %}{% include site-sw.html %}{% endif %}
		{% include clicky-analytics.html %}
	</body>
</html>
